div {
  background: #222;
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
}

.short {
  height: 100px;
}

.tall {
  height: 200px;
}

.inside {
  display: inline-block;
  height: 100%;
}

/*.giant {
position: absolute;
top: 0;
bottom: 0;
}*/

/* Code Under This Line */
